<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Home_TPWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FormationServlet</display-name>
    <servlet-name>FormationServlet</servlet-name>
    <servlet-class>fr.eni_ecole.tpweb.servlet.FormationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormationServlet</servlet-name>
    <url-pattern>/Formations</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>fr.eni_ecole.tpweb.servlet.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdmCnx</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StagiaireServlet</display-name>
    <servlet-name>StagiaireServlet</servlet-name>
    <servlet-class>fr.eni_ecole.tpweb.servlet.StagiaireServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StagiaireServlet</servlet-name>
    <url-pattern>/StagiaireCnxServlet</url-pattern>
  </servlet-mapping>
</web-app>