<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Home_TPWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
<!-- Session -->
  <session-config>
    <session-timeout>10</session-timeout>
  </session-config>
  
<!-- Ressource -->
  <resource-ref>
    <description>
		Référence a la ressource BDD pour le pool de connexion
	</description>
    <res-ref-name>jdbc/dsHomeTPWeb</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  
<!-- Servlets -->
  <servlet>
    <description></description>
    <display-name>FormationServlet</display-name>
    <servlet-name>FormationServlet</servlet-name>
    <servlet-class>fr.eni_ecole.tpweb.servlet.FormationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormationServlet</servlet-name>
    <url-pattern>/Formations</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>FrontServlet</display-name>
    <servlet-name>FrontServlet</servlet-name>
    <servlet-class>fr.eni_ecole.tpweb.servlet.FrontServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrontServlet</servlet-name>
    <url-pattern>/FrontServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>AnimCnxServlet</display-name>
    <servlet-name>AnimCnxServlet</servlet-name>
    <servlet-class>fr.eni_ecole.tpweb.servlet.AnimCnxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnimCnxServlet</servlet-name>
    <url-pattern>/AccesAnimateur</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>StagiaireCnxServlet</display-name>
    <servlet-name>StagiaireCnxServlet</servlet-name>
    <servlet-class>fr.eni_ecole.tpweb.servlet.StagiaireCnxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StagiaireCnxServlet</servlet-name>
    <url-pattern>/AccesStagiaire</url-pattern>
  </servlet-mapping>
  
</web-app>